<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img src="../../../assets/logo.png" width="20%" alt="">
        </div>

        <h1 class="h3 text-center">Register Here</h1>

        <form action="">

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input type="password" matInput placeholder="Enter here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter here">
          </mat-form-field>

          <div class="container text-center">
            <button mat-raised-button color="primary">Register</button>
            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
